.board {
    min-width: 160px;
    min-height: 160px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.slot {
    background-color: white;
    height: calc(100% / 8);
    width: calc(100% / 8);
    border: 1px solid black;
}

.slot.shot {
    background-color: black;
}

.ship {
    background-color: aqua;
}

.ship.shot {
    background-color: red;
}
