.board {
    width: 160px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    background-color: white;
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

.tile.ship {
    background-color: red;
}
