.menu,
.player-name-form {
    margin-block: auto;
    text-align: center;
}

.menu .subtitle {
    margin-bottom: 3rem;
}

.mode-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.game-mode-button {
    width: 250px;
    font-size: 1.25rem;
    padding: 0.25rem;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    border: 2px solid white;
    border-radius: 10px;
}

.game-mode-button:hover {
    scale: 1.1;
}

.player-name-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    padding: 1rem;
}

.player-name-form input {
    width: 100%;
    margin-top: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
}

.player-name-form input:focus {
    outline: none;
    box-shadow: 0 0 4px 3px rgb(77, 77, 77);
}

.form-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.form-buttons button {
    flex: 1;
    padding: 0.35rem 1rem;
    border-radius: 10px;
    border: 3px solid;
    font-size: 1.25rem;
    color: white;
    font-weight: 700;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.form-buttons .accept {
    border-color: rgb(1, 189, 1);
    color: rgb(1, 189, 1);
}

.form-buttons .cancel {
    border-color: rgb(214, 1, 1);
    color: rgb(214, 1, 1);
}

.form-buttons .accept:hover {
    border-color: rgb(1, 139, 1);
    color: rgb(1, 139, 1);
    box-shadow: 0 2px 2px rgb(56, 56, 56);
    transform: translateY(-2px);
}

.form-buttons .cancel:hover {
    border-color: rgb(180, 1, 1);
    color: rgb(180, 1, 1);
    box-shadow: 0 2px 2px rgb(56, 56, 56);

    transform: translateY(-2px);
}
