#start-menu {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
#start-menu.hide {
    display: none;
}

.menu,
.player-name-form {
    margin-block: auto;
    text-align: center;
}

.menu .subtitle {
    margin-bottom: 3rem;
}

.mode-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.game-mode-button {
    width: 250px;
    font-size: 1.25rem;
    padding: 1rem;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.game-mode-button:hover {
    scale: 1.1;
}

.player-name-form {
    border: 1px solid white;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    padding: 1rem;
}

.player-name-form input {
    width: 100%;
    margin-top: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    font-size: 1.25rem;
}

.player-name-form input:focus {
    outline: none;
}

.player-name-form input.invalid {
    outline: 1px solid red;
}

.form-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.form-buttons button {
    flex: 1;
    padding: 0.35rem 1rem;
    border-radius: 10px;
    border: none;
    font-size: 1.25rem;
    color: white;
    font-weight: 700;
}

.form-buttons .accept {
    background-color: rgb(1, 189, 1);
}

.form-buttons .cancel {
    background-color: rgb(214, 1, 1);
}

.form-buttons .accept:hover {
    background-color: rgb(1, 139, 1);
}

.form-buttons .cancel:hover {
    background-color: rgb(180, 1, 1);
}
